// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.


$primary      : #7158e2;
$primaryv1    : #7d5fff;
$secondary    : #17c0eb;
$secondaryv1  : #18dcff;
$accent       : #c56cf0;
$accentv1     : #cd84f1;

$dark         : #1D1D1D;
$dark-page    : #121212;

$positive     : #079992;
$positivev1   : #38ada9;
$negative     : #ff3838;
$negativev1   : #ff4d4d;
$info         : #67e6dc;
$infov1       : #7efff5;
$warning      : #fff200;
$warningv1    : #fffa65;

$bluedeepdark : #161732;
$bluedark     : #1C1C3A;
$bluegrey     : #32385A;
$bluelight    : #718ADF;
$greylight    : #1B2141;
